@font-face {
  font-family: 'Description';
  src: url("fonts/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: 'Headings';
  font-weight: bold;
  src: url("fonts/Objective-ExtraBold.otf") format("opentype");
}
body{
  margin: 0;
  padding: 0;
  background-color: #05010b;
  overflow-x: hidden;
}
div{
  padding: 0;
  margin: 0;
}
hr{
  height: 0.1em;
  background-color: #fff;
  margin: 0;
  border: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
#listnav{
  position: absolute;
  top: 7.5vw;
  left: 2em;
  font-size: 2.7vw;
  width: 12em;
}
#listnav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Headings', sans-serif;
}
.nav-link{
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
  margin: 0.5em 0;
  color: rgba(0,0,0,0);
  text-stroke: 0.03em #fff;
  -webkit-text-stroke: 0.03em #fff;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
.nav-link hr{
  width: 0;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.nav-link:hover{
  color: #fff;
}
.nav-link:hover hr{
  width: 30%;
}
.active-link{
  color: #fff;
}
.active-link hr{
  width: 30%;
}
#select-list{
  display: none;
  width: 100%;
  justify-content: center;
  font-size: 3vw;
  padding-top: 1.3em;
}
#select-list img{
  position: relative;
  height: 1em;
  width: 1em;
  left: -1em;
  top: 0.2em;
  z-index: -1;
}
#eventselect{
  font-family: 'Headings', sans-serif;
  font-size: 1em;
  border: 0;
  padding: 0;
  margin: 0;
  padding-bottom: 0.1em;
  padding-right: 1.3em;
  border-bottom: 0.1em solid #fff;
  background: rgba(0,0,0,0);
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#eventselect:focus{
  outline: 0;
}
#eventselect option{
  color: #000;
}
#event-content{
  position: relative;
  left: 35%;
  width: 60%;
  font-size: 2.5vw;
}
.events-internal{
  margin-bottom: 3em;
  position: relative;
  width: 100%;
  color: #fff;
}
.single-event{
  position: relative;
  height: 19em;
  width: 21em;
  margin: 1.5em auto;
}
.single-event h1{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  font-family: 'Headings', sans-serif;
}
.single-event h1::after{
  position: absolute;
  content: " ";
  bottom: -0.1em;
  left: 0;
  width: 2em;
  height: 0.1em;
  background: #fff;
  border: 0;
}
.image{
  position: absolute;
  top: 3em;
  left: 0em;
  width: 12em;
  height: 13em;
}
.image img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.image div{
  position: absolute;
  background-image: linear-gradient(to bottom, #2de173, #0847fc);
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
.event-details{
  position: absolute;
  top: 1.5em;
  left: 8em;
  height: 16em;
  width: 13em;
  background-image: linear-gradient(to bottom, #019386, #014a43);
  font-family: 'Description', sans-serif;
  font-weight: bold;
}
.event-details p{
  font-size: 0.7em;
  padding: 0.7em;
  height: 12.5em;
  overflow-y: scroll;
}
.s-info{
  font-size: 0.7em;
  position: absolute;
  width: 15em;
  height: 3em;
  margin: 0.1em auto;
  bottom: 4em;
}
.s-info img{
  position: absolute;
  height: 100%;
  width: 1em;
  left: 1em;
  top: 0;
}
.s-info span{
  position: absolute;
  width: 10em;
  left: 3em;
  height: 1.3em;
  padding: 0.1em 2em;
}
.s-info span:nth-of-type(1){
  top: 0;
}
.s-info span:nth-of-type(2){
  top: 1.7em;
}
.s-info span img{
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1em;
}
.b-link{
  position: absolute;
  font-size: 0.7em;
  box-sizing: border-box;
  text-align: center;
  width: 6.4em;
  height: 1.6em;
  padding: 0.1em 0;
  display: inline-block;
  margin: 0.5em 1.3em;
  border: 0.1em solid #fff;
  border-radius: 1.5em;
  cursor: pointer;
  bottom: 0.3em;
}
.event-register{
  left: 0;
}
.event-rules{
  right: 0;
}
.modal{
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}
.modal-container{
  position: absolute;
  top: 3vw;
  left: 10vw;
  width: 80vw;
  height: 45vw;
  font-size: 2vw;
  background: #0b527d;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
  overflow-y: scroll;
}
.modal-close{
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  height: 1.5em;
  width: 1.5em;
}
.modal-close::before{
  content: "";
  height: 0.15em;
  width: 1.5em;
  background: #fff;
  position: absolute;
  top: 0.75em;
  transform: rotate(45deg);
}
.modal-close::after{
  content: "";
  height: 0.15em;
  width: 1.5em;
  background: #fff;
  position: absolute;
  top: 0.75em;
  transform: rotate(-45deg);
}
.modal-container h1{
  position: relative;
  margin: 1em 0;
  height: 1.1em;
  width: 80%;
  left: 10%;
  padding: 0;
  font-weight: bolder;
  text-align: center;
  color: #fff;
}
.modal-container h1::after{
  position: absolute;
  content: "";
  width: 35%;
  left: 32.5%;
  height: 0.1em;
  bottom: 0;
  background: #fff;
}
.modal-content{
  box-sizing: border-box;
  position: relative;
  width: 90%;
  left: 5%;
  color: #fff;
}
.modal-content ul li{
  padding: 0.2em 0.1em;
  font-family: 'Montserrat', sans-serif;
}
.register-form{
  font-size: 1em;
  width: 100%;
  color: #fff;
  font-family: 'Description', sans-serif;
  margin-top: 2.5em;
}
.register-form .one-field{
  position: relative;
  font-size: 1em;
  display: block;
  width: 10em;
  margin: 0.4em 0.5em;
  height: 1.2em;
}
.register-form div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0.8em 0;
}
.register-form input{
  margin: 0;
  padding: 0;
  margin-left: 1.8em;
  font-size: 1em;
  color: #fff;
  outline: none;
  background: rgba(0,0,0,0);
  border: 0;
  width: 8em;
  height: 1.2em;
  border-bottom: 0.1em solid #fff;
}
.register-form label{
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.2em;
}
.register-form label img{
  width: 100%;
  height: 100%;
}
.register-form span{
  height: 1.2em;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}
.register-form .register-checkbox{
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1em;
  margin-right: 1em;
  width: 1.2em;
  height: 1.2em;
  border: 0.1em solid #fff;
  display: inline;
  color: rgba(0,0,0,0);
}
.register-form input::placeholder{
  color: #fff;
}
.register-form button{
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  width: 7em;
  background: #fff;
  height: 1.2em;
  padding: 0.1 0;
  color: #000;
  outline: none;
  border: 0;
  border-radius: 2em;
}
@-webkit-keyframes animatezoom{
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom{
  from {transform: scale(0)}
  to {transform: scale(1)}
}
@media (min-width: 768px) and (max-width: 1024px){
  #listnav{
    top: 11.4vw;
    left: 0;
    font-size: 2.7vw;
  }
  #event-content{
    width: 65%;
    left: 30%;
    font-size: 3vw;
  }
  .modal-container{
    top: 3vw;
    left: 5vw;
    width: 90vw;
    height: 60vw;
    font-size: 2.8vw;
  }
}
@media (min-width: 481px) and (max-width: 767px){
  #listnav{
    display: none;
  }
  #select-list{
    display: flex;
    font-size: 4.5vw;
  }
  #event-content{
    width: 90%;
    left: 5%;
    font-size: 4.2vw;
  }
  .modal-container{
    top: 4vw;
    left: 5vw;
    width: 90vw;
    height: 90vw;
    font-size: 3.7vw;
  }
}
@media (max-width: 480px){
  #listnav{
    display: none;
  }
  #select-list{
    display: flex;
    font-size: 6vw;
  }
  #event-content{
    width: 100%;
    left: 0;
    font-size: 5vw;
  }
  .single-event{
    width: 19.5em;
    height: 21em;
  }
  .image{
    top: 2em;
    left: 3.5em;
  }
  .event-details{
    top: 5em;
    left: 3em;
  }
  .modal-container{
    top: 6vw;
    left: 5vw;
    width: 90vw;
    height: 130vw;
    font-size: 4vw;
  }
}
