@font-face {
  font-family: 'Description';
  src: url("fonts/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
  font-family: 'Headings';
  font-weight: bold;
  src: url("fonts/Objective-ExtraBold.otf") format("opentype");
}
body{
  margin: 0;
  padding: 0;
  background-color: #05010b;
  overflow-x: hidden;
}
div{
  padding: 0;
  margin: 0;
}
hr{
  height: 0.1em;
  background-color: #fff;
  margin: 0;
  border: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
#listnav{
  position: fixed;
  top: 7vw;
  left: 0.5em;
  font-size: 2.7vw;
  width: 11em;
  background: rgba(0,0,0,0.7);
}
#listnav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Headings', sans-serif;
}
.nav-link{
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
  margin: 0.3em 0;
  color: rgba(0,0,0,0);
  text-stroke: 0.03em #fff;
  -webkit-text-stroke: 0.03em #fff;
  transition: color 0.5s;
}
.nav-link hr{
  width: 0;
  transition: width 0.5s;
}
.nav-link:hover{
  color: #fff;
}
.nav-link:hover hr{
  width: 30%;
}
.active-link{
  color: #fff;
}
.active-link hr{
  width: 30%;
}
#select-list{
  display: none;
  justify-content: center;
  font-size: 3vw;
  padding-top: 1.3em;
}
#select-list img{
  position: relative;
  height: 1em;
  width: 1em;
  left: -1em;
  top: 0.2em;
  z-index: -1;
}
#eventselect{
  font-family: 'Headings', sans-serif;
  font-size: 1em;
  border: 0;
  padding: 0;
  margin: 0;
  padding-bottom: 0.1em;
  padding-right: 1em;
  border-bottom: 0.1em solid #fff;
  background: rgba(0,0,0,0);
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#eventselect:focus{
  outline: 0;
}
#eventselect option{
  color: #000;
}
#event-content{
  position: relative;
  left: 40%;
  width: 60%;
  font-size: 2.5vw;
}
.events-internal{
  position: relative;
  width: 100%;
  color: #fff;
}
.single-event{
  position: relative;
  height: 17em;
  width: 20em;
  margin: 1.5em auto;
}
.single-event h1{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-family: 'Headings', sans-serif;
}
.image{
  position: absolute;
  top: 3em;
  left: 0em;
  width: 9em;
  height: 13em;
}
.image img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.image div{
  position: absolute;
  background-image: linear-gradient(to bottom, #2de173, #0847fc);
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
.event-details{
  position: absolute;
  top: 2em;
  left: 8em;
  height: 15em;
  width: 12em;
  background-image: linear-gradient(to bottom, #019386, #014a43);
  font-family: 'Description', sans-serif;
  font-weight: bold;
}
.event-details p{
  font-size: 0.65em;
  padding: 0.6em;
}
.s-info{
  font-size: 0.7em;
  position: relative;
  width: 15em;
  height: 3em;
  margin: 0.1em auto;
}
.s-info img{
  position: absolute;
  height: 100%;
  width: 1em;
  left: 0;
  top: 0;
}
.s-info span{
  position: absolute;
  width: 10em;
  left: 2em;
  height: 1.3em;
  padding: 0.1em 2em;
}
.s-info span:nth-of-type(1){
  top: 0;
}
.s-info span:nth-of-type(2){
  top: 1.7em;
}
.s-info span img{
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1em;
}
.b-link{
  font-size: 0.7em;
  box-sizing: border-box;
  text-align: center;
  width: 6.4em;
  height: 1.6em;
  padding: 0.1em 0;
  display: inline-block;
  margin: 1em 0.9em;
  border: 0.1em solid #fff;
  border-radius: 1.2em;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1024px){
  #listnav{
    top: 10vw;
    font-size: 3vw;
  }
  #event-content{
    width: 68%;
    left: 32%;
    font-size: 3vw;
  }
}
@media (min-width: 481px) and (max-width: 767px){
  #listnav{
    display: none;
  }
  #select-list{
    display: flex;
    font-size: 4.5vw;
  }
  #event-content{
    width: 90%;
    left: 5%;
    font-size: 4.2vw;
  }
}
@media (max-width: 480px){
  #listnav{
    display: none;
  }
  #select-list{
    display: flex;
    font-size: 6vw;
  }
  #event-content{
    width: 100%;
    left: 0;
    font-size: 5vw;
  }
  .single-event{
    width: 19em;
    height: 20em;
  }
  .image{
    top: 2em;
    width: 10em;
    left: 4.5em;
  }
  .event-details{
    top: 5em;
    left: 3.5em;
  }
}
