@media (min-width: 768px) and (max-width: 1024px){
  .stripe{
    width: 0.3vw;
  }
  #bar{
    font-size: 2.3vw;
  }
  #poster{
    height: 75vw;
  }
  #logo{
    top: 5vw;
    width: 55vw;
    left: 45vw;
    height: 40vw;
  }
  #heading{
    top: 25vw;
    left: 5vw;
    height: 50vw;
    width: 45vw;
    font-size: 4.2vw;
  }
  #about{
    height: 80vw;
    font-size: 6vw;
  }
  #events{
    font-size: 6.5vw;
  }
  .eventcards{
    width: 45vw;
    height: 50vw;
  }
  #footer{
    font-size: 3.7vw;
  }
  #links{
    width: 30%;
  }
  #title{
    width: 40%;
  }
  #social{
    width: 25%
  }
  #fullmenu{
    font-size: 6vw;
  }
  #inlogo{
    top: 5vw;
    width: 55vw;
    left: 45vw;
    height: 40vw;
  }
  #list{
    top: 0;
    left: 5vw;
    width: 55vw;
  }
}
@media (min-width: 481px) and (max-width: 767px){
  .stripe{
    width: 0.4vw;
  }
  #bar{
    font-size: 2.7vw;
  }
  #poster{
    height: 90vw;
  }
  #logo{
    top: 0;
    width: 80vw;
    left: 10vw;
    height: 45vw;
  }
  #heading{
    top: 45vw;
    left: 10vw;
    height: 45vw;
    width: 75vw;
    font-size: 5vw;
  }
  #about{
    height: 85vw;
    font-size: 6.5vw;
  }
  #events{
    font-size: 8vw;
  }
  .eventcards{
    width: 40vw;
    height: 50vw;
  }
  #footer{
    font-size: 4.5vw;
  }
  #links{
    width: 35%;
  }
  #title{
    width: 45%;
  }
  #social{
    width: 35%
  }
  #fullmenu{
    font-size: 7vw;
  }
  #inlogo{
    top: 0;
    width: 80vw;
    left: 10vw;
    height: 45vw;
  }
  #list{
    top: 45vw;
    left: 20vw;
    width: 60vw;
  }
}
@media (max-width: 480px){
  .stripe{
    width: 0.5vw;
  }
  #bar{
    font-size: 3.3vw;
  }
  #poster{
    height: 120vw;
  }
  #logo{
    top: 10vw;
    width: 100vw;
    left: 0vw;
    height: 55vw;
  }
  #heading{
    top: 65vw;
    left: 10vw;
    height: 55vw;
    width: 90vw;
    font-size: 5.5vw;
  }
  #about{
    height: 95vw;
    font-size: 8vw;
  }
  #events{
    font-size: 10vw;
  }
  .eventcards{
    width: 60vw;
    height: 70vw;
  }
  #footer{
    font-size: 6vw;
  }
  #links{
    width: 70%;
  }
  #title{
    width: 70%;
  }
  #social{
    width: 70%
  }
  #fullmenu{
    font-size: 10vw;
  }
  #inlogo{
    top: 10vw;
    width: 100vw;
    left: 0vw;
    height: 55vw;
  }
  #list{
    top: 60vw;
    left: 5vw;
    width: 90vw;
  }
}
