@media (min-width: 768px) and (max-width: 1024px){
  .stripe{
    width: 0.3vw;
  }
  #bar{
    font-size: 2.3vw;
  }
  #poster{
    height: 75vw;
  }
  #logo{
    width: 55vw;
    left: 45vw;
    height: 40vw;
  }
  #heading{
    top: 25vw;
    left: 5vw;
    height: 50vw;
    width: 45vw;
    font-size: 4.5vw;
  }
  #about{
    height: 80vw;
    font-size: 5.6vw;
  }
  #events{
    font-size: 6.5vw;
  }
  .eventcards{
    width: 45vw;
    height: 50vw;
  }
}
@media (min-width: 481px) and (max-width: 767px){
  .stripe{
    width: 0.4vw;
  }
  #bar{
    font-size: 2.7vw;
  }
  #poster{
    height: 100vw;
  }
  #logo{
    width: 80vw;
    left: 10vw;
    height: 50vw;
  }
  #heading{
    top: 55vw;
    left: 10vw;
    height: 45vw;
    width: 75vw;
    font-size: 5vw;
  }
  #about{
    height: 85vw;
    font-size: 6vw;
  }
  #events{
    font-size: 8vw;
  }
  .eventcards{
    width: 40vw;
    height: 50vw;
  }
}
@media (max-width: 480px){
  .stripe{
    width: 0.5vw;
  }
  #bar{
    font-size: 3.3vw;
  }
  #poster{
    height: 120vw;
  }
  #logo{
    width: 100vw;
    left: 0vw;
    height: 60vw;
  }
  #heading{
    top: 65vw;
    left: 10vw;
    height: 55vw;
    width: 90vw;
    font-size: 5.5vw;
  }
  #about{
    height: 95vw;
    font-size: 6.5vw;
  }
  #events{
    font-size: 10vw;
  }
  .eventcards{
    width: 60vw;
    height: 70vw;
  }
}
