@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Montserrat-Regular.woff2") format("woff2");
}
body{
  margin: 0;
  padding: 0;
  background: #05010b;
}
div{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
.sponsorcategory{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-size: 1.6vw;
  padding: 1.2em 0;
  color: #fff;
}
.sponsorcategory > h1{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 2em;
  height: 1.2em;
  margin-left: 0.8em;
  display: block;
}
.sponsorcategory > h1::after{
  position: absolute;
  content: "";
  width: 2.8em;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: #fff;
}
.sponsorblock{
  color: #fff;
  font-size: 1em;
  width: 100%;
  clear: both;
}
.sponsorblock h1{
  position: relative;
  font-size: 1.8em;
  height: 1em;
  font-weight: bold;
  width: 100%;
  padding: 0;
  padding-bottom: 0.05em;
  margin: 1em 0;
  display: block;
  text-align: center;
}
.sponsorblock h1::after{
  content: "";
  width: 2.8em;
  height: 0.1em;
  margin: 0 auto;
  display: block;
  background: #fff;
}
.sponsorblock a{
  display: block;
  width: 20em;
  margin: 1em auto;
}
.sponsorblock a img{
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1024px){
  .sponsorcategory{
    font-size: 2vw;
  }
}
@media (min-width: 481px) and (max-width: 767px){
  .sponsorcategory{
    font-size: 2.4vw;
  }
}
@media (max-width: 480px){
  .sponsorcategory{
    font-size: 3vw;
  }
}
