html{
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
div{
  padding: 0;
  margin: 0;
}
.back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #05010b;
  display: flex;
  justify-content: space-around;
}
.stripe{
  height: 100%;
  width: 0.2vw;
  background-color: #232323;
}
.container{
  width: 100%;
  position: relative;
}
#poster{
  height: 50vw;
}
#bar{
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
}
#register{
  color: #fff;
  height: 3em;
  width: 6em;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}
#menu{
  margin: 0 3%;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#menu div{
  height: 5%;
  background: #fff;
  border: 0;
  width: 100%;
}
#menu div:nth-child(2){
  width: 80%;
  align-self: flex-end;
}
#logo{
  position: absolute;
  left: 50vw;
  top: 2vw;
  height: 30vw;
  width: 50vw;
}
#logo img{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#heading{
  position: absolute;
  top: 15vw;
  left: 5vw;
  height: 35vw;
  width: 45vw;
  font-size: 3.8vw;
}
#heading h1{
  color: #fff;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}
#heading p{
  margin: 0;
  padding: 0.25em;
  color: rgba(0,0,0,0);
  text-stroke: 0.03em #fff;
  -webkit-text-stroke: 0.03em #fff;
}
#about{
  height: 80vw;
}
#aboutus{
  top: 5vw;
  left: 5vw;
  font-size: 5vw;
  position: absolute;
  color: #fff;
  width: 8em;
  height: 1.2em;
  font-weight: bolder;
}
#aboutus hr{
  height: 0.1em;
  background-color: #fff;
  margin: 0;
}
#desc{
  position: absolute;
  top: 15vw;
  left: 7vw;
  width: 45vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: #fff;
}
.tags{
  position: absolute;
  font-size: 5vw;
  font-weight: bolder;
  height: 1.2em;
  width: 5em;
}
#electric{
  top: 13vw;
  left: 5vw;
  color: rgba(31,58,230,0.29);
}
#ecstacy{
  transform: rotate(90deg);
  top: 35vw;
  left: -5vw;
  color: rgba(192,44,121,0.45);
}
#thrill{
  transform: rotate(-90deg);
  top: 25vw;
  left: 35vw;
  color: rgba(208,72,72,0.37);
}
#fun{
  transform: rotate(180deg);
  top: 45vw;
  left: 10vw;
  color: rgba(45,213,105,0.4);
}
#events{
  height: 110vw;
}
#eventhead{
  top: 0vw;
  left: 5vw;
  font-size: 5vw;
  position: absolute;
  color: #fff;
  width: 7em;
  height: 1.2em;
  font-weight: bolder;
}
#eventhead hr{
  height: 0.1em;
  background-color: #fff;
  margin: 0;
}
#eventcards{
  top: 20vw;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.eventcards{
  width: 30vw;
  height: 35vw;
  font-size: 1.6vw;
  margin: 4vw auto;
  color: #fff;
  background-color: #f00;
  position: relative;
}
.eventcards h1{
  margin: 0;
  padding: 0;
  position: relative;
  top: -0.8em;
  font-size: 1.6em;
  right: 0.4em;
}
.eventcards img{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  filter: blur(0.5px);
}
.eventcards .shadow{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #2de173, #0847fc);
  opacity: 0.6;
}
.eventcards p{
  position: relative;
  margin-bottom: 2.5em;
  font-weight: bold;
  left: 1em;
}
.eventcards ul{
  line-height: 1.5em;
  position: relative;
  font-weight: bold;
  list-style: none;
}
#button{
  font-size: 2vw;
  text-align: center;
  padding: 0.1em;
  margin: 0 auto;
  border: 0.1em solid #fff;
  height: 1.4em;
  width: 5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
}
