body{
	margin: 0px;
	padding: 0px;
}
#background{
	box-shadow: 0 0 1vw #000;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	background-image: url('./image.jpg');
	background-size: 100% 100%;
	height: 40vw;
}
#banner{
	width: 60%;
	height: 60%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0;
	background: rgba(0,0,0,0.8);
}
#logo{
	width: 100%;
	height: 100%;
	margin: 0;
}
#logo img{
	width: 100%;
	height: 100%;
}
#caption{
	box-sizing: border-box;
	margin: 1em auto;
	padding: 0.5em 0;
	width: 40%;
	height: 2em;
	font-size: 2vw;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.8);
	font-family: 'Roboto', sans-serif;
}
#timer-container{
	position: relative;
	top: -5vw;
	height: 10vw;
	width: 100%;
	padding: 0;
	margin: 0;
}
#timer{
	height: 100%;
	width: 50%;
	padding: 0;
	margin:  0 auto;
	display: flex;
	flex-direction: row;
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	color: #fefefe;
	font-family: 'Roboto', sans-serif;
}
.timer-part{
	position: relative;
	width: 20%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}
.timer-part::before{
	content: '';
	border-radius: 50%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, #00eb5e 10%, #00de9d 40%, #26d7aa 60%, #1fc8b4 80%, #1bc7b4 100%);
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0.1em #000;
}
.timer-text{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
.timer-desc{
	position: relative;
	top: 0.8em;
	left: 0;
	width: 100%;
	font-size: 0.4em;
}
#embed{
	box-sizing: border-box;
	position: relative;
	display: flex;
	width: 100%;
	height: 40vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#embed iframe{
	width: 50%;
	height: 80%;
	position: absolute;
	right: -40%;
	top: 10%;
	opacity: 0;
	transition: all 1s;
	box-shadow: 0 0 0.5em #000;
}
#embed svg{
	position: absolute;
	height: 100%;
	width: 100%;
}
#rewind-text{
	position: absolute;
	width: 30%;
	height: 50%;
	left: -30%;
	top: 15%;
	opacity: 0;
	transition: all 1s;
	font-family: 'Roboto', sans-serif;
	color: rgb(35,35,35);
}
#rewind-text svg{
	position: absolute;
}
#rewind{
	width: 100%;
	height: 30%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding:0;
	margin: 0;
	font-size: 5vw;
	padding-top: 1vw;
}
#rewind-year{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 35%;
	left: 0;
	text-align: center;
	padding:0;
	margin: 0;
	font-size: 7.5vw;
	font-weight: bolder;
}
#middle_text{
	position: relative;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 0;
}
#middle_text_1{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Caveat', cursive;
	text-align: center;
	font-size: 3vw;
	color: LightGray;
}
#middle_text_2{
	align-items: baseline;
	display: flex;
	width: 100%;
	padding: 0;
	margin: 0;
	justify-content: center;
}
#middle_text_2u{
	font-family: 'Roboto',sans-serif;
	color:	#00cca3;
	font-size: 2vw;
}
#middle_text_2e{
	font-family: 'Roboto',sans-serif;
	color: DarkGray;
	font-size: 4vw;
}
#middle_text_line{
	width: 30%;
	margin: 2vw auto;
	padding: 0;
	border: 0.1vw solid LightGray;
}
#footer{
  position: relative;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  height: 30vw;
  width: 100%;
  background-color: #262827;
	box-shadow: 0 0 1vw #000
}
#licon{
  position: absolute;
	left: 0;
  margin: 0;
  bottom: 0;
  width: 40%;
  background-repeat: no-repeat;
  height: 110%;
  background-size: contain;
  background-image: url("icon.png");
}
#footer-link{
	position: absolute;
	padding: 1vw;
	margin: 0;
	top: 1vw;
	right: 0;
	display: flex;
	flex-direction: row;
	width: 20%;
	font-size: 2vw;
}
.fab{
	text-decoration: none;
	width: 2.5vw;
	height: 2.5vw;
	padding: 0.5vw;
	margin: 0 auto;
	text-align: center;
	border-radius: 50%;
}
.fa-facebook-f{
    background: #3B5998;
    color: white;
}
.fa-instagram{
    color: white;
    background: linear-gradient(to right,rgb(243, 85, 138),rgb(92, 23, 221) );
}
.fa-youtube{
    background: red;
    color: white;
}
.fa-facebook-f:hover{
    color: #3B5998;
    background-color: white;
}
.fa-instagram:hover{
    background: white;
    color: rgb(243,85,138);
}
.fa-youtube:hover{
    color: red;
    background: white;
}
#footer-base{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70%;
	margin: 0;
	padding: 0;
}
#footer-info{
	position: absolute;
	right: 2vw;
	bottom: 6vw;
  font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	font-weight: bold;
	color: white;
  margin: 0;
	padding: 0;
}
#footer-info h4{
	font-size: 1.2em;
}
#map{
	box-sizing: border-box;
	margin: 0;
  font-size: 1.2vw;
	padding: 0.5vw;
  background-color: white;
  border: 0;
  border-radius: 5%;
  color: rgb(32,178,170);
	font-weight: bold;
  height: 3vw;
  width: 8vw;
	cursor: pointer;
}
#showmap{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	overflow: hidden;
}
#modal-content{
	border-radius: 1%;
	position: absolute;
	background-color: rgb(18, 178, 170);
	margin: 0 auto;
	padding: 0;
	left: 25%;
	top: 10%;
	width: 50%;
	height: 60%;
	box-shadow: 0 0 0.5vw 0 rgba(0,0,0,0.2);
	animation-name: animatetop;
	animation-duration: 0.4s;
}
@keyframes animatetop {
	from {top: -30%; opacity: 0}
	to {top: 0; opacity: 1}
}
#modal-close {
	padding-right: 1vw;
	color: white;
	float: right;
	font-size: 2vw;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
#modal-close:hover,
#modal-close:focus {
	color: rgb(35,35,35);
}
